.App {
  text-align: center;
}

.title{
  padding-right: 20px;
}


.AppHeader {
  width: 100vw;
  height: 70px;
  border-bottom: solid 1px black;
  text-align: right;
}

.AppHeader p{
  margin-top: 0;
}
.AppHeader h2{
  margin-bottom: 0;
}

.informationBlocks {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 40px auto 0;
}

.infoBlock {
  border: 1px solid black;
  width: 400px;
  height: 125px;
  text-align: left;
  padding-left: 20px;
}

.chartBlock {
  width: 1000px;
  height: 600px;
  margin: 40px auto 0;
  border: 1px solid black;
}

.tableChart h2 {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
  width: 100px;
  border-bottom: 1px solid black;
}

.legend {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.identifiers {
  display: flex;
}

.squareId1 {
  width: 10px;
  height: 10px;
  background-color: violet;
  margin: auto 10px;
}

.squareId2 {
  width: 10px;
  height: 10px;
  background-color: red;
  margin: auto 10px;
}